PyYAML==6.0
python-box==6.0.2
pyTelegramBotAPI==4.6.0  # bump to evade timeouts while long polling in async mode
gspread==5.4.0
schedule==1.1.0
matplotlib==3.5.2
nats-py==2.1.4
aiohttp==3.8.1
redis==4.3.4
aiofiles==0.8.0
